body{
    color: rgb(255, 255, 255);
    background: rgb(6, 13, 56);
    margin: 0px;
    font-family: "BBH Sans Bartle", sans-serif;

}

header{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
.chamada{
    background-color:  rgb(252, 252, 252);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0,5;
    height: 200px;
}